In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# Importing the atomm project specific libraries
from atomm.Indicators import MomentumIndicators
from atomm.DataManager.main import MSDataManager

In [3]:
# Pandas and numpy
import pandas as pd
import numpy as np

# Libraries for Visualization
import matplotlib.pyplot as plt
import seaborn

# Alpaca API
import alpaca_trade_api as tradeapi

# Pickle
import pickle

In [4]:
from dotenv import find_dotenv, load_dotenv
load_dotenv(find_dotenv())

True

In [5]:
### NOTE: In a later version, the the data download part will be outsourced to a separate script.

dm = MSDataManager()

In [7]:
djia_symbols_list = ['AAPL', 'AXP', 'BA', 'CAT', 'CSCO', 'CVX', 'DIS', 'DOW', 'GS', 'HD', 'IBM', 'INTC', 'JNJ', 'JPM', 'KO', 'MCD', 'MMM', 'MRK', 'MSFT', 'NKE', 'PFE', 'PG', 'TRV', 'UNH', 'UTX', 'V', 'VZ', 'WBA', 'WMT', 'XOM']

# For starters, we will look at 5 years of DOW JONES DATA

In [8]:
# Obtain 5 years of historical data for Microsoft
# Get daily price data for AAPL over the last 5 trading days.
api = tradeapi.REST()
djia0 = api.get_barset(djia_symbols_list+['DJIA'], 'day', limit=1000).df

In [9]:
djia0.head()

                             AAPL                                        \
                             open    high     low     close      volume
time
2015-12-15 05:00:00+00:00     NaN     NaN     NaN       NaN         NaN
2015-12-16 05:00:00+00:00     NaN     NaN     NaN       NaN         NaN
2015-12-17 05:00:00+00:00  112.02  112.17  108.99  108.9999  39052007.0
2015-12-18 05:00:00+00:00  108.91  109.52  105.81  105.9500  60812399.0
2015-12-21 05:00:00+00:00  107.28  107.37  105.57  107.3200  37995834.0

                             AXP                                   ...    WMT  \
                            open   high    low  close      volume  ...   open
time                                                               ...
2015-12-15 05:00:00+00:00    NaN    NaN    NaN    NaN         NaN  ...    NaN
2015-12-16 05:00:00+00:00    NaN    NaN    NaN    NaN         NaN  ...    NaN
2015-12-17 05:00:00+00:00  70.79  70.96  69.41  69.55   3967702.0  ...  60.33
2015-12-18 05:00:00+00:00  69.13  69.13  67.57  67.88  11075244.0  ...  58.93
2015-12-21 05:00:00+00:00  68.15  68.77  67.99  68.41   3872105.0  ...  58.82

                                                              XOM           \
                            high    low  close      volume   open     high
time
2015-12-15 05:00:00+00:00    NaN    NaN    NaN         NaN    NaN      NaN
2015-12-16 05:00:00+00:00    NaN    NaN    NaN         NaN    NaN      NaN
2015-12-17 05:00:00+00:00  60.33  58.97  58.98  11434734.0  79.02  79.2300
2015-12-18 05:00:00+00:00  59.40  58.75  58.83  11497740.0  77.57  78.7800
2015-12-21 05:00:00+00:00  59.58  58.67  59.57   8376058.0  77.79  78.1038


                              low   close      volume
time
2015-12-15 05:00:00+00:00     NaN     NaN         NaN
2015-12-16 05:00:00+00:00     NaN     NaN         NaN
2015-12-17 05:00:00+00:00  77.950  77.980  13957138.0
2015-12-18 05:00:00+00:00  77.060  77.300  20257695.0
2015-12-21 05:00:00+00:00  76.645  77.251  11567058.0

[5 rows x 155 columns]

In [12]:
# pickle the raw data 


pickle.dump(djia0, open(b'djia_raw_2019-12-09.pkl', 'wb'))

In [10]:

# Instantiate a MomentumIndicators() class object
mi = MomentumIndicators(df['Close'])

# Calculates the Moving Average Convergence-Divergence 
macd = mi.calcMACD(9, 20)

In [ ]:
imp

In [22]:
import datetime as dt
end_date = dt.datetime(2019, 12, 6)

In [23]:
aapl = dm.ReturnData('AAPL', end_date=end_date, limit=None)
msft = dm.ReturnData('MSFT', limit=None)

In [37]:
df_conc = pd.concat([aapl, msft], axis=1)

In [38]:
df_conc.head()

,Open,High,Low,Close,Volume,Open,High,Low,Close,Volume
Epoch,,,,,,,,,,
2014-12-03 00:00:00+00:00,115.750000,116.349998,115.110001,115.930000,43063440,NaN,NaN,NaN,NaN,NaN
2014-12-04 00:00:00+00:00,115.769997,117.199997,115.290001,115.489998,42155776,NaN,NaN,NaN,NaN,NaN
2014-12-05 00:00:00+00:00,115.989998,116.080002,114.639999,115.000000,38318895,48.820000,48.970001,48.380001,48.419998,27313449.0
2014-12-08 00:00:00+00:00,114.099998,114.650002,111.620003,112.400002,57664850,48.259998,48.349998,47.450001,47.700001,26663107.0
2014-12-09 00:00:00+00:00,110.190002,114.300003,109.349998,114.120003,60208036,47.110001,47.919998,47.049999,47.590000,24330506.0

In [36]:
df_conc.shape

(2518, 5)

**TODO: Outsource this to a description file**
* Open / High / Low / Close / Volume: The standard set of market data for stock, where Open is the opening price for the given timeframe (in this case: daily), high and loware  the (daily) highs and lows, while close is the last price at market close. Volume denotes the volume traded. 
* Daily Returns: The daily returns on a specific symbol
* MACD
* ROC
* RSI
* EMA
* STOC
* ATR