# Chapter 3, Data Cleaning

In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import pickle
import pandas as pd
import numpy as np
from dotenv import load_dotenv, find_dotenv
import os
from pathlib import Path

# Some custom tools
from src.data.tools import check_for_missing_vals

In [3]:
load_dotenv(find_dotenv())
data_base_dir = os.environ.get('DATA_DIR_BASE_PATH')

In [4]:
#fname = data_base_dir + '/processed/djia_raw_2019-12-11.pkl'
#djia_raw = pickle.load(open(fname, 'rb'))

In [5]:
fname = os.path.join(data_base_dir, 'processed', 'index.h5')
fname = Path(fname)
with pd.HDFStore(fname) as storage:
    djia_raw = storage.get('nyse/raw/rand_symbols')

In [6]:
djia_raw['MSFT'].tail()

,Open,High,Low,Close,Volume
Epoch,,,,,
2019-12-13 00:00:00+00:00,153.000000,154.889999,152.830002,154.529999,23850062
2019-12-16 00:00:00+00:00,155.110001,155.899994,154.820007,155.529999,24152770
2019-12-17 00:00:00+00:00,155.449997,155.710007,154.449997,154.690002,25443527
2019-12-18 00:00:00+00:00,154.300003,155.479996,154.179993,154.369995,24132379
2019-12-19 00:00:00+00:00,154.000000,155.770004,153.750000,155.710007,25813825

In [7]:
# Look for missing values in the OHLCV data of every symbol and return symbol if missing values are found
check_for_missing_vals(djia_raw)

No missing values found in dataframe

'PFG' has 2 missing values per column.

In [8]:
#pd.isnull(djia_raw['PFG'])
np.where(djia_raw['PFG'].isna())
#djia_raw['PFG'].isna()

(array([], dtype=int64), array([], dtype=int64))

In [9]:
print(str(djia_raw['PFG'].index[1509]) + '\n' + str(djia_raw['PFG'].index[1627]))

2017-12-18 00:00:00+00:00
2018-06-08 00:00:00+00:00

In [10]:
djia_raw['PFG'].iloc[1507:1515, :]

                                Open       High        Low      Close   Volume
Epoch
2017-12-14 00:00:00+00:00  70.410004  70.540001  69.750000  69.889999  1089288
2017-12-15 00:00:00+00:00  70.230003  70.930000  69.919998  70.370003  2075300
2017-12-18 00:00:00+00:00  70.730003  71.410004  69.830002  70.610001  1190647
2017-12-19 00:00:00+00:00  71.099998  71.419998  70.519997  70.860001  1092741
2017-12-20 00:00:00+00:00  71.419998  71.660004  70.720001  71.250000  1207277
2017-12-21 00:00:00+00:00  71.709999  72.040001  71.139999  71.239998   890964
2017-12-22 00:00:00+00:00  71.570000  71.879997  70.830002  71.260002   703711
2017-12-26 00:00:00+00:00  71.459999  71.860001  71.019997  71.330002   433272

In [11]:
djia_raw['PFG'].iloc[1622:1632, :]

                                Open       High        Low      Close   Volume
Epoch
2018-06-01 00:00:00+00:00  55.990002  56.779999  55.830002  56.450001  1387291
2018-06-04 00:00:00+00:00  56.509998  56.820000  56.099998  56.189999   891383
2018-06-05 00:00:00+00:00  56.020000  56.090000  54.889999  55.959999  1932775
2018-06-06 00:00:00+00:00  56.279999  56.950001  56.040001  56.910000  1328904
2018-06-07 00:00:00+00:00  57.200001  57.259998  56.389999  56.639999  1152368
2018-06-08 00:00:00+00:00  56.509998  56.880001  56.009998  56.799999   966671
2018-06-11 00:00:00+00:00  56.950001  57.860001  56.820000  57.360001  1133407
2018-06-12 00:00:00+00:00  57.380001  57.619999  56.540001  56.759998  1372605
2018-06-13 00:00:00+00:00  56.950001  57.459999  56.540001  56.570000  1323030
2018-06-14 00:00:00+00:00  56.750000  57.500000  55.990002  56.259998  1347518

In [12]:
djia_raw['PFG'] = djia_raw['PFG'].interpolate(limit=1, inplace=False)

In [13]:
djia_raw['PFG'].iloc[1622:1632, :]

,Open,High,Low,Close,Volume
Epoch,,,,,
2018-06-01 00:00:00+00:00,55.990002,56.779999,55.830002,56.450001,1387291.0
2018-06-04 00:00:00+00:00,56.509998,56.820000,56.099998,56.189999,891383.0
2018-06-05 00:00:00+00:00,56.020000,56.090000,54.889999,55.959999,1932775.0
2018-06-06 00:00:00+00:00,56.279999,56.950001,56.040001,56.910000,1328904.0
2018-06-07 00:00:00+00:00,57.200001,57.259998,56.389999,56.639999,1152368.0
2018-06-08 00:00:00+00:00,56.509998,56.880001,56.009998,56.799999,966671.0
2018-06-11 00:00:00+00:00,56.950001,57.860001,56.820000,57.360001,1133407.0
2018-06-12 00:00:00+00:00,57.380001,57.619999,56.540001,56.759998,1372605.0
2018-06-13 00:00:00+00:00,56.950001,57.459999,56.540001,56.570000,1323030.0
2018-06-14 00:00:00+00:00,56.750000,57.500000,55.990002,56.259998,1347518.0

In [14]:
check_for_missing_vals(djia_raw)

No missing values found in dataframe

No more missing values.

In [17]:
djia_raw.shape

(2014, 250)

In [15]:
with pd.HDFStore(fname) as storage:
    storage.put('nyse/cleaned/rand_symbols', djia_raw)
    #print(storage.info())